body{
    margin: 0;
    padding: 30px;
    background-color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    max-width: 500px;
    margin: auto;
    background-color:black;
    padding: 35px;
    border-radius: 9px;
    border: 1px solid #867070;
}

h1{
    text-align: center;
    color:white;
}

p{
    text-align: center;
    color: white;
}

.card{
    margin-top: 30px;
    padding:20px;
    border: 1px solid #dccccc;
    border-radius: 6px;
}

h2{
    color: #f0ecec;
    font-size: 20px;
}

button{
   background:#42ae5b;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:5px;
    cursor:pointer;
    font-size:16px;
    transition:0.3s;
}

button:hover{
    background:#b5466f;
}

input{
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #bbb;
    border-radius: 5px;
}

#result{
    margin-top: 10px;
    font-weight: bold;
    color: #bddeca;
}