*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
 body{
    background-color: #eb7777;
 }
 header{
    background-color: #0d6efd;
    color: white;
    text-align: center;
    padding: 15px;
 }
 .container{
    width: 70%;
    margin: 35px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0.0.2);
 }
 .image-box{
    flex: 1;
 }
 .image-box img{
    width: 100%;
    border-radius: 10px;
 }
 .content{
    flex:1;
}

.content h2{
    font-size:32px;
    margin-bottom:15px;
}

.content p{
    font-size:18px;
    line-height:1.7;
    margin-bottom:20px;
}

button{
    background:#0d6efd;
    color:white;
    border:none;
    padding:12px 25px;
    font-size:18px;
    border-radius:8px;
    cursor:pointer;
}

button:hover{
    background:#084db5;
}




@media (max-width:992px){

.container{
    width:90%;
    gap:20px;
}

.content h2{
    font-size:28px;
}

.content p{
    font-size:17px;
}

}

@media (max-width:768px){

.container{
    flex-direction:column;
    text-align:center;
}

.content h2{
    font-size:26px;
}

.content p{
    font-size:16px;
}

button{
    width:100%;
}

}

@media (max-width:480px){

header h1{
    font-size:24px;
}

.container{
    padding:20px;
}

.content h2{
    font-size:22px;
}

.content p{
    font-size:15px;
}

button{
    font-size:16px;
    padding:10px;
}

}